<!DOCTYPE html>
<html>
    <head>
        <title>Visual Maps</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="{{ url_for('static', filename='libs/datamaps.world.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/countries.js') }}"></script>
    </head>
    <body>
        <div id="map" style="position: relative; width: 80%; height: 550px;"></div>
        <script type="text/javascript">
            var map = new Datamap({
                element: document.getElementById("map"),                
                projection: 'equirectangular',
                geographyConfig: {
                    //highlightOnHover: false,
                    //popupOnHover: false,
                    //highlightBorderColor: '#bada55',
                    popupTemplate: function(geography, data) {
                        return '<div class="hoverinfo">' +
                                '<b>' + data.pais + '</b>' +
                                '<br /><u>Medallas</u>' +
                                '<br />Oro:' + data.oro +
                                '<br />Plata:' + data.plata +
                                '<br />Bronce:' + data.bronce +
                                '</div>'
                    },
                    highlightBorderWidth: 3
                },
                fills: colors,
                data: countries //countries itera con los datos
            });
            //map.labels();
        </script>
    </body>
</html>
